<div class="visitor_profile_header">
	<ul class="actions">
		<li class="action archive"><i class="fa fa-archive" title="Archive"></i></li>
		<li class="action"><i class="fa fa-sign-out" title="Transfer"></i></li>
	</ul>
	
	<!-- gravatar-image email=email alt=name size="250" class="avatar" -->
		
	<div class="info">
		<h2 class="name">
			{{ details.name }}
			<span {{action "showMore"}} class="show_more">more...</span>
		</h2>
		
		<h3 class="location">{{ details.location }}</h3>
		
		<p>
			Served by:
			{{ agent.name }}
		</p>
			
		<ul class="tags">
			<!--each details
				<li class="tag">
					<span class="tag_label">name</span>
					<span class="delete_tag">&times;</span>
				</li>
			each -->
		</ul>
	</div>
	
	<div class="more">
		{{#each details_array}}
			<p>
				<span class="more_label">{{ label }}</span>
				<span class="more_detail">{{ value }}</span>
				<span class="clear"></span>
			</p>
		{{/each}}
		<p>
			<span class="more_label">Last Seen</span>
			<span class="more_detail"><span {{bind-attr title=updated_at}}>{{ updated_at }}</span></span>
			<span class="clear"></span>
		</p>
		<div class="clear"></div>
	</div>
</div>

<div class="visitor_profile_messages">
	{{#each messages}}
		<div {{bind-attr class=":message from_agent:from_agent"}}>
			<div class="body">
				{{{ body }}}
			</div>

			<div class="clear"></div>
		</div>
	{{/each}}
</div>

<form action="#" {{bind-attr class=":visitor_new_message session.visitor.typing::is_disabled :new_message"}} {{action 'createMessage' on='submit'}}>
	{{textarea value=body placeholder="What's on your mind?" insert-newline='createMessage'}}
	<button type="submit">Send</button>
</form>