<div class="header" {{bind-attr style=session.chatbox.chatbox_style}}>
	<div class="profile">
		{{#link-to "prompter" class="close icon"}}
			<i class="ion ion-ios-close-empty"></i>
		{{/link-to}}
		
		<div class="rectangle"></div>
		
		<div class="avatar_wrapper">
			<img {{bind-attr src=session.contact.agent.avatar}}>
		</div>
		
		<div class="served_by_description">
			<p class="talking_to">You're talking to</p>
			<p class="agent_name">{{session.contact.agent.name}}</p>
			
			<ul class="meta">
				<!-- <li>
					{{!#link-to 'prompter'}}
						<i class="ion ion-ios-person-outline"></i>
					{{!/link-to}}
				</li> -->
				<!-- <li><a href="#"><i class="ion ion-ios-email-outline"></i></a></li> -->
				<li><a href="#" {{action "signinout"}}><i class="ion ion-log-out"></i></a></li>

				{{#if session.contact.agent.online}}
					<li><p class="is_online">Online</p></li>
				{{/if}}
			</ul>
		</div>
		
		{{#link-to "chatbox.signin" class="agent_login_link"}}
			Agent Login
		{{/link-to}}
		
		<div class="clear"></div>
	</div>
	
	{{#if session.contact.introduced}}
		{{#unless session.contact.agent.online}}
			<p class="agent_offline">
				<i class="ion ion-android-warning"></i>
				{{session.contact.agent.name}} is now offline. If you send them a message, they'll receive it next time they login.
			</p>
		{{/unless}}
	{{/if}}
	
	<div class="fader"></div>
</div>