<div class="field has_moving_label">
	<label for="field_{{ permalink }}" class="moving_label">{{ name }}</label>
	<input type="text" id="field_{{ permalink }}" name="{{ permalink }}" placeholder="{{ name }}" {{#if validator}}data-validator="{{ validator }}"{{/if}} {{#if required}}required{{/if}}>
</div>