<div>
	{{render 'chatbox/header'}}
	
	<form class="introducer form" {{action 'registerViaEmail' on='submit'}}>
		<p class="please_introduce">
			To start talking to <span class="agent_name">{{ session.visitor.agent.name }}</span>,<br>please introduce yourself.
		</p>

		<a class="button fb_blue" {{action 'registerViaFacebook'}}>
			Introduce Myself through Facebook
		</a>

		<p class="or">or</p>

		<div class="fields">
			
			{{#each session.chatbox.introducers}}
				{{#if active}}
					<div class="field has_moving_label">
						<label {{bind-attr for=dom_id}} class="moving_label">{{ name }}</label>
						<input {{bind-attr type=type}} {{bind-attr id=dom_id}} {{bind-attr name=permalink}} {{bind-attr placeholder=placeholder}} {{bind-attr data-validator=validator}} {{bind-attr required=required}}>
					</div>
				{{/if}}
			{{/each}}
		</div>

		<button type="submit">
			Introduce Myself
		</button>
	</form>
</div>