<div>
	<div class="header" {{bind-attr style=session.chatbox.chatbox_style}}>
		<div class="profile">
			{{#link-to "prompter" class="close icon"}}
				<i class="ion ion-ios-close-empty"></i>
			{{/link-to}}

			<div class="rectangle"></div>

			<div class="served_by_description" style="margin-top: 20px; margin-left: 80px; ">
				<p class="talking_to">Not an agent?</p>
				<p class="agent_name">{{#link-to session.back}}<i class="ion ion-ios-arrow-thin-left"></i> Go Back to Chat{{/link-to}}</p>
			</div>
		
			<div class="clear"></div>
		</div>
	</div>
	
	<form class="introducer form" {{action "signIn" on="submit"}}>
		{{#unless resetting}}
			<p class="please_introduce">
				To sign in as an agent, please enter your credentials below.
			</p>
		{{/unless}}
	
		<div class="fields">
			<a href="#" {{action 'resetPassword'}} class="reset_password">
				{{#if resetting}}
					&larr; Back to Login
				{{else}}
					Forgot your password?
				{{/if}}
			</a>
			
			<div class="clear"></div>
			
			<div class="field">
				<label for="field_email" class="moving_label">Your Email Address</label>
				{{input type="email" value=email id="field_email" placeholder="Email Address" required=true}}
			</div>

			{{#unless resetting}}
				<div class="field">
					<label for="field_password" class="moving_label">Your Password</label>
					{{input type="password" value=password id="field_password" placeholder="Password" required=true}}
				</div>
			{{/unless}}
		</div>
		
		
		<button type="submit">
			{{#if loading}}
				Loading...
			{{else}}
				{{#if resetting}}
					Send Me Reset Instructions
				{{else}}
					Sign In
				{{/if}}
			{{/if}}
		</button>
	</form>
</div>