<div class="pane">
	
	<h2>Agents</h2>
	
	<p>This is a desciprtion of agents. Should you need any help, don't be afraid to ask for it. This is a desciprtion of agents. Should you need any help, don't be afraid to ask for it. </p>

	<table class="agents table">
		<thead>
			<tr>
				<th style="width: 10%;" class="align_center">Admin</th>
				<th style="width: 10%;" class="align_center">Online</th>
				<th style="width: 24%;">Name</th>
				<th style="width: 31%;">Email Address</th>
				<th style="width: 15%;">Avatar (75px square)</th>
				<th style="width: 10%;"></th>
			</tr>
		</thead>
		<tbody>
			{{#each session.chatbox.agents itemController="admin/agents/agent"}}
				<tr>
					<td class="align_center">
						{{#if session.agent.admin}}
							{{#unless creator}}
								{{input type="checkbox" checked=admin}}
							{{/unless}}
						{{/if}}
					</td>
					<td {{bind-attr class=":align_center online:online:offline"}}>
						<i class="ion ion-record"></i>
					</td>
					<td>
						{{input type="name" value=name focus-out="saveChatbox"}}
					</td>
					<td>
						{{input type="email" value=email focus-out="saveChatbox"}}
					</td>
					<td>
						<img {{bind-attr src=avatar}} {{action 'chooseAvatar' .}}>
					</td>
					<td class="align_right">
						{{#if session.agent.admin}}
							{{#unless is_current_user}}
								{{#unless creator}}
									<a href="#" class="fluid_width delete_row" {{action "deleteAgent" .}}>
										<i class="ion ion-ios-close"></i>
									</a>
								{{/unless}}
							{{/unless}}
						{{/if}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="upper_space">
		<button {{action "createAgent"}}>Add Agent</button>
	</div>

</div>