<div class="pane">
	
	<input type="text" class="contacts_search" placeholder="Search...">
	
	<table class="contacts_filters">
		<tbody>
			<tr>
				<td><a href="#" {{action 'setFilter' 'assigned' session.agent.id}} {{bind-attr class="showAll::active"}}>For Me</a></td>
				{{#if session.agent.admin}}
					<td><a href="#" {{action 'setFilter' 'all'}} {{bind-attr class="showAll:active"}}>All</a></td>
				{{/if}}
			</tr>
		</tbody>
	</table>

	<div class="contacts">
		{{#each contacts}}
			{{#link-to 'admin.contacts.contact' . classBinding=':contact online:online agent_has_unread:has_unread'}}
				<span class="name">
					<span {{bind-attr title=details.email}}>{{ details.name }}</span>
				</span>
				<span class="icons">
					<i title="Apple" class="ion ion-social-apple"></i>
					<i title="Windows" class="ion ion-social-windows"></i>
					<i title="Canada" class="ion ion-flag"></i>
				</span>
				<span class="last_seen">
					{{ago contact_last_seen}}
				</span>
				<span class="clear"></span>
			{{/link-to}}
		{{/each}}
		
	</div>
	
	{{outlet}}
	
</div>