<div class="pane">
	<div class="tabs">
		<div class="nav">
			{{link-to "General" "admin.settings.index"}}
			{{link-to "Triggers" "admin.settings.triggers"}}
			{{link-to "Canned" "admin.settings.canned"}}
			{{link-to "Introducers" "admin.settings.introducers"}}
			{{link-to "My Profile" "admin.settings.me"}}
		</div>

		<div class="tab">
			{{outlet}}
		</div>
	</div>
</div>