<div>
	<p>Introducers are the things that go crazy and crazier. Triggers are the things that go crazy and crazier. Triggers are the things that go crazy and crazier.</p>

	<table class="table introducers">
		<thead>
			<tr>
				<th class="align_center">Required</th>
				<th>Name</th>
				<th>Permalink</th>
				<th>Type</th>
				<th>Validator</th>
				<th class="align_center">Reorder</th>
				<th class="align_center">Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each session.chatbox.introducersSorted itemController="admin/settings/introducers/introducer"}}
				<tr class="introducer" data-id="{{unbound id}}">
					<td class="align_center">{{input type="checkbox" checked=required}}</td>
					<td>{{input value=name focus-out="saveChatbox"}}</td>
					<td>{{input value=permalink focus-out="saveChatbox"}}</td>
					<td>
						{{view "select" content=types value=type optionValuePath="content.value" optionLabelPath="content.label"}}
					</td>
					<td>
						{{view "select" content=validators value=validator optionValuePath="content.value" optionLabelPath="content.label"}}
					</td>
					<td class="align_center">
						<a href="#">
							<i class="ion ion-arrow-move"></i>
						</a>
					</td>
					<td class="align_center">
						<a href="#" class="fluid_width delete_row" {{action 'deleteIntroducer' .}}>
							<i class="ion ion-ios-close"></i>
						</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="upper_space">
		<button {{action 'createIntroducer'}}>Add Introducer</button>
	</div>
</div>