<div>
	<p>
		Triggers are an underused tool in the online marketers toolkit. Send timely, in-context messages to your visitors. Context is king.
		{{#link-to 'admin.videos.video' 'triggers'}}Quick Video: How to use triggers effectively.{{/link-to}}
	</p>

	<table class="triggers table">
		<thead>
			<tr>
				<th>Active</th>
				<th>State</th>
				<th>Delay</th>
				<th>Exclude</th>
				<th>Include</th>
				<th>Message</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each session.chatbox.triggers itemController="admin/settings/triggers/trigger"}}
				<tr>
					<td>{{input type="checkbox" checked=active click="saveChatbox"}}</td>
					<td>{{view 'select' content=states value=state optionLabelPath="content.name" optionValuePath="content.value"}}</td>
					<td>{{input value=delay focus-out="saveChatbox"}}</td>
					<td>{{input value=exclude focus-out="saveChatbox"}}</td>
					<td>{{input value=include focus-out="saveChatbox"}}</td>
					<td>{{input value=message focus-out="saveChatbox"}}</td>
					<td>
						<a href="#" class="fluid_width delete_row" {{action 'deleteTrigger' .}}>
							<i class="ion ion-ios-close"></i>
						</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="upper_space">
		<button {{action 'createTrigger'}}>Add Trigger</button>
	</div>
</div>