<form class="form" {{action "createChatbox" on="submit"}}>
	<div class="is_loading with_padding">
		<img src="/imgs/badge_almost.png" class="badge">
		<img src="/imgs/loading.gif">
	</div>
	
	<div class="isnt_loading">
		<img src="/imgs/badge_almost.png" class="badge">
		
		<p>
			<strong>Congratulations</strong> &mdash; Lively Chat Support is almost set up. Simply fill in the form below to register your chatbox.
		</p>
	
		<div class="fields">
			<div class="field">
				<label for="install_field_email">What is your <strong>name</strong>?</label>
				{{input type="text" id="install_field_name" value=name placeholder="Your Name" required=true}}
			</div>
			<div class="field">
				<label for="install_field_email">What is your <strong>email address</strong>?</label>
				{{input type="email" id="install_field_email" value=email placeholder="Email Address" required=true}}
			</div>
			<div class="field">
				<label for="install_field_password">Please choose a <strong>password</strong>.</label>
				{{input type="password" id="install_field_password" value=password placeholder="Password" required=true}}
			</div>
			<div class="field">
				<label for="install_field_token" class="force_show">Serial Number</label>
				{{input type="text" id="install_field_token" value=session.token}}{{! readonly="readonly" }}
			</div>
		</div>

		<button type="submit">
			Start Using My Chatbox &nbsp; &rarr;
		</button>
	</div>
</form>