<div class="admin">
	{{#link-to "prompter" class="close icon"}}
		<i class="ion ion-ios-close-empty"></i>
	{{/link-to}}
	
	<div class="leftbar">
		<a href="#" {{bind-attr class=":toggle_status session.agent.online:online:offline"}} {{action "toggleStatus"}}>
			{{#if session.agent.online}}
				<i class="ion ion-toggle-filled"></i>
				Online
			{{else}}
				<i class="ion ion-toggle"></i>
				Offline
			{{/if}}
		</a>

		{{#link-to "admin.contacts"}}
			<i class="ion ion-person-stalker icon"></i>
			Visitors
		{{/link-to}}

		{{#if session.agent.admin}}
			{{#link-to "admin.agents"}}
				<i class="ion ion-help-buoy icon"></i>
				Agents
			{{/link-to}}
			
			{{#link-to "admin.settings"}}
				<i class="ion ion-gear-a icon"></i>
				Settings
			{{/link-to}}
		{{else}}
			{{#link-to "admin.settings.me"}}
				<i class="ion ion-person icon"></i>
				My Profile
			{{/link-to}}
		{{/if}}

		{{#unless session.chatbox.activated}}
			{{#if session.agent.admin}}
				{{#link-to "admin.activate"}}
					<i class="ion ion-ios-bolt icon"></i>
					Activate
				{{/link-to}}
			{{/if}}
		{{/unless}}
	</div>

	<div class="panes">
		{{outlet}}
	</div>

</div>